{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="page landing-page">
    <section data-aos="slide-up" data-aos-duration="200" data-aos-delay="50" class="portfolio-block block-intro">
        <div class="container" style="text-shadow: 0px 0px;">
            <div data-bs-hover-animate="pulse" class="avatar" style="background-image: url('{% static 'front/img/avatars/SwarupDP.jpg' %}');"></div>
            <div class="about-me p-2">
                <p data-bs-hover-animate="pulse">I am a <b>sophomore at VIT, Vellore</b>. I am a Full Stack Developer and a Machine Learning enthusiast. I am also interested in Robotics.</p>
            </div>
        </div>
    </section>
    <section data-aos="slide-up" data-aos-duration="200" data-aos-delay="50" class="portfolio-block call-to-action">
        <center><h3>My Hobbies</h3></center>
        <section data-aos="slide-up" data-aos-duration="200" data-aos-delay="50" class="portfolio-block photography">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-4 p-2 item zoom-on-hover" data-aos="fade-right" data-aos-duration="300" data-aos-delay="100">
                        <a href="#"><img class="img-fluid image" src="{% static 'front/img/nature/art.jpg' %}" width="450"/></a>
                    </div>
                    <div class="col-md-6 col-lg-4 p-2 item zoom-on-hover" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <a href="#"><img class="img-fluid image" src="{% static 'front/img/nature/watching.jpg' %}" width="400" height="400"/></a>
                    </div>
                    <div class="col-md-6 col-lg-4 p-2 item zoom-on-hover" data-aos="fade-left" data-aos-duration="500" data-aos-delay="100">
                        <a href="#"><img class="img-fluid image" src="{% static 'front/img/nature/adventure.jfif' %}"  width="400" /></a>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section data-aos="slide-up" data-aos-duration="1000" data-aos-delay="100" class="portfolio-block skills">
        <div class="container">
            <div class="heading"><h2>Special Skills</h2></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" data-bs-hover-animate="pulse" style="background-color: azure;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-star-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Web Development</h3>
                            <p class="card-text">I have built websites using Django, HTML, CSS, JavaScript, Bootstrap, etc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" data-bs-hover-animate="pulse" style="background-color: azure;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-lightbulb-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Machine Learning</h3>
                            <p class="card-text">I am exploring ML and started with useful libraries like Numpy, Matplotlib, Pandas, Seaborn, etc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card special-skill-item border-0" data-bs-hover-animate="pulse" style="background-color: azure;">
                        <div class="card-header bg-transparent border-0"><i class="icon ion-ios-gear-outline"></i></div>
                        <div class="card-body">
                            <h3 class="card-title">Robotics</h3>
                            <p class="card-text">I have made projects using Arduino and Atmega microcontrollers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
